<style type="text/css">
	#wpbody {margin-left: 40px;}
	h2 {font-family: Verdana;}
	p {font-family: Verdana;}
	#play_now_button{margin-top:8px;width:226px;height:63px;font-size:24px;text-align:center;}
	#play_now_button a{display:block;color:#fff;width:226px;height:63px;line-height:60px;background:url('/images/signupbackground.gif') center top no-repeat;text-shadow:#1e6c8f 2px 2px 0px;letter-spacing:-1px;}
	#play_now_button a:hover{text-decoration:underline;background:url('/images/signupbackground.gif') center bottom no-repeat;text-shadow:#b8441c 2px 2px 0px;}
	
</style>
<style type="text/css">
a.sentence {
	color: #333;
	text-decoration: none;
}

a.sentence.has_note {
	background-color: #eee;
}

a.sentence:hover {
	background-color: #eee;
}

a.sentence.up {
	border-bottom: 1px solid #00b656;
}

a.sentence.up.has_note {
	background-color: #99ffaa;
}

a.sentence.down { 
	border-bottom: 1px solid #ee2200;
}

a.sentence.down.has_note {
	background-color: #ffdddd;
}

.note {
	padding: 10px;
	font-family: Courier;
	height: 90px;
}

.flote {
	padding: 10px;
	font-family: Courier;
	height: 90px;
}

.mark {
	cursor: pointer;
}

#demo_box {
	border: 2px solid #ccc;
	padding: 10px;
	line-height: 1.3em;
}

#demo_box p {
	padding: 0px;
	margin: 0px;
	font-family: Georgia;
	font-size: 16px;
}

#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #86acc1;
	background-color: #fff;
	opacity: 0.85;
	max-width: 450px;
}
#tooltip .contain {
	background: #cde9f8;
	border: 2px solid #fff;
	color: black;
	padding: 5px;
}
#tooltip h3, #tooltip div { 
	margin: 0;
	font-size: 12px;
	font-weight: bold;
}

#tooltipflote {
	position: absolute;
	z-index: 3000;
	border: 1px solid #86acc1;
	background-color: #fff;
	opacity: 0.85;
	max-width: 450px;
}
#tooltipflote .contain {
	background: #cde9f8;
	border: 2px solid #fff;
	color: black;
	padding: 5px;
}
#tooltipflote h3, #tooltipflote div { 
	margin: 0;
	font-size: 12px;
	font-weight: bold;
}

</style>

<script type="text/javascript">
var t = null;
var x = null;
var times = "00000000000000".split('');

var hide_notes = function(affect) {
	$(".note:visible[affect=" + affect + "]").each(function(e) {
		if ($(this).val() == "") {
			$(this).hide();
			$("#sent-" + $(this).attr("id").split("-")[1]).removeClass("has_note");
		} else {
			$(this).html($(this).val());
		}
	});
};

var hide_flote = function(flote, kill_if_content) {
	if ($(flote).val() == "") {
		if ($(flote).attr("id") != "flote") {
			$(flote).remove();
			$(flote).hide();
			$("#mark-" + $(flote).attr("id").split("-")[1]).remove();
			$("#mark-" + $(flote).attr("id").split("-")[1]).hide();
		}
	} else {
		$(flote).html($(flote).val());
		if (kill_if_content) {
			$(flote).hide();
		}
		$mark = $("#mark-" + $(flote).attr("id").split("-")[1]);
		if ($mark.length == 0) {
			$mark = $("#mark").clone();
			$mark.appendTo("#draft_content");
			$mark.attr("id", "mark-" + $(flote).attr("id").split("-")[1]);
		};
		$mark.css("top", $(flote).css("top"));
		$mark.css("left", $(flote).css("left"));
		$mark.show();
	}
}

var hide_flotes = function() {
	$(".flote").each(function() {
		hide_flote(this, false);
	})
};

$(document).ready(function() {
	
    var flote_count = 0;
    $("#draft").click(function(ev) {
    	if (ev.shiftKey) {
			clearTimeout(x);
    		$flote = $("#flote").clone();
    		$flote.appendTo("#draft_content");
    		$flote.attr("id", "flote-" + flote_count);
    		flote_count += 1;
    		$flote.val($flote.val().replace("\n", ""));
    		$flote.css("top", (ev.pageY - 10) + "px");
    		$flote.css("left", (ev.pageX - 10) + "px");
    		$flote.show();
    		$flote.focus();
			x = setTimeout("hide_flotes(true)", 2000);
    	}
    });
	
	$(".mark").live("mouseover",
		function(ev) {
			var id = $(this).attr("id").split("-")[1];
			if ($("#flote-" + id).html() != "" && $("#flote-" + id).html() != null) {
				$("#show-flote").html($("#flote-" + id).html());
				$("#tooltipflote").css("top", ev.pageY - 30 + "px");
				$("#tooltipflote").css("left", ev.pageX + 20 + "px");
				//$("#note-" + id).css("height", $("#note-" + id)[0].scrollHeight);
				$("#tooltipflote").show();
			} else {
				$("#tooltipflote").hide();
			}
		}
	);
	
	$(".mark").live("mouseout",
		function(ev) {
			var id = $(this).attr("id").split("-")[1];
			$("#tooltipflote").hide();
		}
	);
	
	$(".mark").live("mousemove",
		function(ev) {
			$("#tooltipflote").css("top", ev.pageY - 30 + "px");
			$("#tooltipflote").css("left", ev.pageX + 20 + "px");
		}
	);
	
	$(".mark").live("click",
		function(ev) {
			var id = $(this).attr("id").split("-")[1];
			$("#flote-" + id).show();
			$("#flote-" + id).focus();
		}
	);
	
	$(".note").live("keydown", function(e) {
		if (e.keyCode == 13) {
			$(this).hide();
			if ($(this).val() != "") {
				$("#sent-" + $(this).attr("id").split("-")[1]).addClass("has_note");
				$(this).html($(this).val());
			} else {
				$("#sent-" + $(this).attr("id").split("-")[1]).removeClass("has_note");
				$(this).html($(this).val());
			}
		};
	});

	var pop_note = function(id, action, ev) {
		var $note = $("#note-" + id);
		if ($note.length == 0) { 
			$note = $("#note").clone();
			$note.appendTo("#draft_content");
			$note.attr("id", "note-" + id);
		};
		$note.val($note.val().replace("\n", ""));
		if (action == 'up') {
			$note.attr("affect", "good");
			$note.css("top", ev.pageY - 100 + "px");
			$note.css("left", ev.pageX + 20 + "px");
			$note.focus();
			$note.show();
		} else if (action == 'down') {
			$note.attr("affect", "bad");
			$("#tooltip").css("top", ev.pageY - 100 + "px");
			$("#tooltip").css("left", ev.pageX + 20 + "px");
			$note.focus();
			$note.show();
		} else {
			$note.attr("affect", "neutral");
			$note.hide();
			if ($note.val() == "") {
				$("#sent-" + $note.attr("id").split("-")[1]).removeClass("has_note");
				$note.html($note.val());
			};
		};
		$note.focus();
		t = setTimeout("hide_notes('" + $note.attr("affect") + "')", 2000);
		return false;
	}
	
	$(".flote").live("keydown", function(e) {
		if (e.keyCode == 13) {
			hide_flote(this, true);
		};
	});
	
	$(".sentence").click(function(ev) {
		$(".flote").each(function() {
			hide_flote(this, true);
		});
		clearTimeout(x);
		clearTimeout(t);
		$(".note").each(function(e) {
			$(this).hide();
			if ($(this).val() != "") {
				$("#sent-" + $(this).attr("id").split("-")[1]).addClass("has_note");
				$(this).html($(this).val());
			} else {
				$("#sent-" + $(this).attr("id").split("-")[1]).removeClass("has_note");
				$(this).html($(this).val());
			}
		});
		var i = $(this).attr("id").split("-")[1] * 1
		if (times[i] == '0') {
			$(this).addClass("up");
			pop_note(i, "up", ev);
			times[i] = '1';
		} else if (times[i] == '1') {
			$(this).removeClass("up");
			$(this).addClass("down");
			pop_note(i, "down", ev);
			times[i] = '2';
		} else {
			$(this).removeClass("up");
			$(this).removeClass("down");
			pop_note(i, "neutral", ev);
			times[i] = '0';
		};
		return false;
	});
	
	$("a.sentence").live("mouseover",
		function(ev) {
			var id = $(this).attr("id").split("-")[1];
			if ($("#note-" + id).html() != "" && $("#note-" + id).html() != null) {
				$("#show-note").html($("#note-" + id).html());
				$("#tooltip").css("top", ev.pageY - 30 + "px");
				$("#tooltip").css("left", ev.pageX + 20 + "px");
				//$("#note-" + id).css("height", $("#note-" + id)[0].scrollHeight);
				$("#tooltip").show();
			} else {
				$("#tooltip").hide();
			}
		}
	);
	
	$("a.sentence").live("mouseout",
		function(ev) {
			var id = $(this).attr("id").split("-")[1];
			$("#tooltip").hide();
		}
	);
	
	$("a.sentence").live("mousemove",
		function(ev) {
			$("#tooltip").css("top", ev.pageY - 30 + "px");
			$("#tooltip").css("left", ev.pageX + 20 + "px");
		}
	);
});
</script>
<div id="tooltip" style="display: none; right: auto;"><div class="contain"><h3><span id="show-note"></span></h3></div></div>
<div id="tooltipflote" style="display: none; right: auto;"><div class="contain"><h3><span id="show-flote"></span></h3></div></div>
<textarea id="flote" class="flote" affect="neutral" style="width: 250px; position: absolute; display: none; z-index: 999"></textarea>
<textarea id="flote-99" class="flote" affect="neutral" style="width: 250px; left: 600px; top: 210px; position: absolute; display: none; z-index: 999">Here's a freehand note, designed for comments not tied to a particular sentence. Click once to edit.</textarea>
<textarea id="note" class="note" affect="neutral" style="width: 250px; position: absolute; display: none;z-index: 20"></textarea>

<textarea id="note-0" class="note" affect="bad" style="width: 250px; position: absolute; display: none;">This sentence has a note, which is why it's highlighted. Click once to edit me!</textarea>

<div id="mark" class="mark" style="position: absolute; display: none; font-size: 14px; color: #ff5544; z-index: 10">&#10038;</div>
<div id="mark-99" class="mark" style="position: absolute; left: 600px; top: 210px; font-size: 14px; color: #ff5544; z-index: 10">&#10038;</div>
<script language="javascript" src="/javascripts/simpleswap.js"></script>
<div style="margin-top: 50px; margin-right: 40px;">
	<div style="text-align: center; font-family: Georgia; line-height: 0em; font-size: 32px; color: #000; margin-bottom: 20px;">
		Get fine-grained feedback on your writing, fast.
		<p style="font-size: 18px; color: #888; font-family: Georgia;">
			Proofreading <em>used</em> to be a pain in the ass.
		</p>
	</div>

	<table id="draft_content">
		<td width="700px" valign="top" id="draft">
			<div id="demo_box" style="margin-top: 5px;">
				<p><a class="sentence down has_note" href="#" id="sent-0"><strong>Warning:</strong> This box is a live demonstration.</a> <a class="sentence" href="#" id="sent-1">It works exactly like the page your friends and colleagues will see when they come to review <em>your</em> work.</a></p><br/>
				
				<p><a class="sentence" href="#" id="sent-2">For example, click a sentence once if you like it, twice if you don't&mdash;a box for taking notes will pop up.</a> <a class="sentence" href="#" id="sent-3">Just type something in the text box and hit ENTER to close it.</a> <a class="sentence" href="#" id="sent-4">Don't worry if you've got nothing to say: notes just disappear if you ignore them.</a></p><br/>
				
				<p><a class="sentence" href="#" id="sent-5">Notice that orange star?</a> <a class="sentence" href="#" id="sent-6">It's a freehand note, designed for offhand comments not tied to a particular sentence.</a> <a class="sentence" href="#" id="sent-7">You can add your own anywhere in this box by <em>shift</em>-clicking.</a> <a class="sentence" href="#" id="sent-8">Just delete the text to get rid of them.</a></p><br/>
				
				<p><a class="sentence" href="#" id="sent-9">Honestly, that's about it.</a> <a class="sentence" href="#" id="sent-10">The interface is deliberately simple&mdash;the idea is to get <strong>more, better feedback from people by making the process really easy for them</strong>.</a> <a class="sentence" href="#" id="sent-11">(And for you, too.)</a></p><br/>
				<p><a class="sentence" href="#" id="sent-12">So give it a shot: click the button below to set up your own draft.</a></p>
			</div>
		</td>
		<td valign="top">
			<ul style="margin-left: 20px; font-family: Georgia; font-size: 20px;">
				<li>More convenient than pen and paper.</li>
				<ul style="margin-left: 20px; font-family: Georgia; font-size: 14px; list-style: disc inside; color: #555">
					<li>No print-outs, downloads, or sign-ups.</li>
					<li>Instantly send requests for feedback to arbitrarily many people&mdash;just share the special URL that we make for you.</li>
				</ul>
				<li>&ldquo;Track changes?&rdquo; More like: &ldquo;make a mess.&rdquo;</li>
				<ul style="margin-left: 20px; font-family: Georgia; font-size: 14px; list-style: disc inside; color: #555">
					<li>No more pages full of red or notes that fill up the margin. No more endless clicking or overly complicated menu choices.</li>
				</ul>
				<li>At-a-glance feedback: <a href="/feedback/demo" target="_blank">See an example.</a></li>
				<ul style="margin-left: 20px; font-family: Georgia; font-size: 14px; list-style: disc inside; color: #555">
					<li>See everyone who's reviewed your work all at once. Rapidly switch between reviews&mdash;easily see patterns.</li>
					<li>Colorful markup makes scanning easy: <span style="background-color: #99ffaa; border-bottom: 1px solid #00b656;">green is good</span>, <span style="border-bottom: 1px solid #ee2200; background-color: #ffdddd;">red is bad.</li>
				</ul>
				<li>Room for one more?</li>
				<ul style="margin-left: 20px; font-family: Georgia; font-size: 14px; list-style: disc inside; color: #555">
					<li>There's enough space here to make another point.</li>
				</ul>
				</ul>
			</ul>
		</td>
	</table>

	<div id="play_now_button" style="margin:0 auto; margin-top: 10px; text-align: center;">
		<a href="/drafts/random">Create a draft!</a>
	</div>
</div>