<style type="text/css">
	#wpbody {margin-left: 40px;}
	h2 {font-family: Verdana;}
	p {font-family: Verdana;}
</style>
<script language="javascript" src="/javascripts/simpleswap.js"></script>
<div style="margin:0 auto; margin-top: 80px; margin-right: 40px;">
<table style="width: 100%">
	<tr colspan="3">
		<div style="text-align: center; font-size: 32px; color: #444; margin-bottom: 20px;">
			Get fine-grained feedback on your writing, fast.<br/><br/><br/>
			<a href=""><img type="image" src="/images/button.png" oversrc="/images/button-hover.png"/></a>
		</div>
	</tr>
	<tr>
		<td valign="top" width="300px;">
			<h2>Step 1: Write</h2>
			<p>Write your draft in style, using our <strong>simple and beautiful rich-text editor</strong> ripped straight from Wordpress.</p>
			<img src="/images/step-1.png" style="width: 266px; margin-left: 10px;"/>
		</td>
		<td valign="top" width="300px">
			<h2>Step 2: Share</h2>
			<p>Once your draft is ready, we create a special reviewing page that you can share with friends and colleagues. It lets them <strong>edit at the speed of reading</strong>. <a href="" style="font-weight: bold;">Try it!</a></p>
		</td>
		<td valign="top" width="300px;">
			<h2>Step 3: Profit!</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</td>
	</tr>
</table>
</div>